<%- include('partials/header') -%>

<header>
    <nav class="nav nav-1">
        <h1>HayaFooty</h1>
        <!-- <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul> -->
        <a href="/login">Login</a>
    </nav>
    <nav class="nav nav-2">
        <section class="sidebar-btn">
            <i class="fa-solid fa-bars"></i>
        </section>
        <i class="fa-solid fa-bars-staggered" style="font-size: 25px;"></i> <h2>All leagues</h2>
    </nav>
</header>


<main class="all-leagues-options">
    <%  for(let i = 0 ; i < competitions.length ; i++){ %>
        <% if(competitions[i].name !== 'Copa Libertadores' && competitions[i].name !== 'Championship' && competitions[i].name !== 'UEFA Champions League'){ %>

            <a class="league-director" href="/leagues/<%= competitions[i].id %>">
         
                <img class="league-logo" src="<%= competitions[i].emblem %>" alt="">
                  
        
              </a> 
       <%  }  %>

       <% if(competitions[i].name === 'UEFA Champions League'){ %>

        <a class="league-director" href="/<%= competitions[i].id %>">
     
            <img class="league-logo" src="<%= competitions[i].emblem %>" alt="">
              
    
          </a> 
   <%  }  %>
   
    <% } %>
</main>






<%- include('partials/footer') -%>
