<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HayaFooty</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"

      
      href="/imgs/favicon-32x32.png"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/all-leagues.css">
   <link rel="stylesheet" href="/css/login.css">
   <link rel="stylesheet" href="/css/profile.css">
  </head>
  <body>


<aside class="profileOptions">
    <!-- <h1>profile</h1> -->
    <section>
    <h2><%= myProfileInfo.userName  %></h2>
    </section>
    <ul>  
              <li><a href="/">Home</a></li>
              <hr>
              <li><a href="/allLeagues">All Leagues</a></li>
              <hr>
              <li><a href="/allLeagues">My Favorite Leagues</a></li>
              <hr>
            </ul>
    <a class="logout-btn" href="/logout"><button>Logout</button></a>
</aside>

<main class="main-profile">
      <!-- <form action="/leagues/createFavoritesList" method="POST" enctype="application/x-www-form-urlencoded">
    <button type="submit" class="create-favorite-list" >
        <i class="fa-solid fa-folder-plus"></i>
    Create Favorite List
    </button>
</form> -->
<h2>My Favorite Leagues</h2>

<section class="mayFavLeagues">

         
<% for(let i = 0 ; i < MyFavLeagues.length ; i++){ %>

<section class="league-card">
<img src="<%= MyFavLeagues[i].competition.emblem%>" alt="">
<section>
  <p>Matchday : <%= MyFavLeagues[i].season.currentMatchday %></p>
  <p>Top Team : <%= MyFavLeagues[i].standings[0].table[0].team.name %></p>
  <p>Top Scorer : <%= topScorers[i][0].player.name %></p>




  <span></span>
</section>
</section>



<% } %>

</section>
</main>



<%- include('partials/footer') -%>